{% extends 'admin/layouts/apps.html' %}
{% load static %}


{% block content %}

	<!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        
        

        {% include 'admin/layouts/breadcrumbs.html' %}




        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Form-->
                <form id="create-or-update-customer-form" class="form d-flex flex-column flex-lg-row"  method="POST" enctype="multipart/form-data"  action="">
                    {% csrf_token %}
                    <!--begin::Aside column-->
                    
                    <!--end::Aside column-->
                    <!--begin::Main column-->
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                        <!--begin:::Tabs-->
                        <!--end:::Tabs-->
                        <!--begin::Tab content-->
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade show active" id="create-or-update-product-general" role="tab-panel">
                                <div class="d-flex flex-column gap-7 gap-lg-10">
    
                                    
                                    <div class="card card-flush py-4">
                                        
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>Customer details</h2>
                                            </div>
                                        </div>
                                        <input type="hidden" name="customer_id" value="{{customer.id}}" />
                                        <div class="card-body pt-0 ">
    
                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Customer Name</label>
                                                        <input type="text" name="customer_name" value="{{customer.customer_name}}" class="form-control mb-2"  placeholder="Enter customer name" />
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="form-label required">Address</label>
                                                        <textarea id="address"  class="form-control" name="address"  placeholder="Enter address">{{customer.address | safe}}</textarea>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-3 fv-row">
                                                        <label class="form-label">City</label>
                                                        <input type="text" name="city" value="{{customer.city}}" class="form-control mb-2"  placeholder="Enter city" />
                                                        </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">State</label>
                                                        <input type="text" name="state" value="{{customer.state}}" class="form-control mb-2"  placeholder="Enter state" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Phone Number</label>
                                                        <input type="text" name="phone" value="{{customer.phone}}" class="form-control mb-2"  placeholder="Enter your phone number" onkeypress="if  (!/^[0-9]*$/.test(String.fromCharCode(event.which))) return false;" />
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Post Code</label>
                                                        <input type="text" name="post_code" value="{{customer.post_code}}" class="form-control mb-2"  placeholder="Enter post code"  onkeypress="if  (!/^[0-9]*\.?[0-9]*$/.test(String.fromCharCode(event.which))) return false;"  />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Email</label>
                                                        <input type="text" name="email" value="{{customer.email}}" class="form-control mb-2"  placeholder="Enter Email" />
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">POC</label>
                                                        <input type="text" name="poc" value="{{customer.poc}}" class="form-control mb-2"  placeholder="Enter POC" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">POC Phone Number</label>
                                                        <input type="text" name="poc_mobile" value="{{customer.poc_mobile}}" class="form-control mb-2"  placeholder="Enter your poc phone number" onkeypress="if  (!/^[0-9]*$/.test(String.fromCharCode(event.which))) return false;" />
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">POC Email</label>
                                                        <input type="text" name="poc_email" value="{{customer.poc_email}}" class="form-control mb-2"  placeholder="Enter POC Email" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Tab pane-->
                        </div>
                        <!--end::Tab content-->
                        <div class="d-flex justify-content-end">
                            <!--begin::Button-->
                            <a href="" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="submit" id="create-or-update-customer-submit" class="btn btn-primary">
                                <span class="indicator-label">Save </span>
                                <span class="indicator-progress">Please wait... 
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Main column-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
	
{% endblock content %}

 

{% block script %}



<script src="{% static 'assets/js/custom/pages/master/customer/create-or-update-customer.js' %}?time={% now 'h:i:s' %}"></script>


{% endblock script %}
