<!DOCTYPE html>
<html lang="en">
{% load static %}
	<!--begin::Head-->
	<head>
        
		<title>Aventus Informatics</title>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="{% static 'assets/media/images/favicon.ico' %}" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="bg-body">
		<!--begin::Main-->
		{% block content %}{% endblock content %}
		<!--end::Main-->
		<!--begin::Javascript-->
		<script>var hostUrl = "{% static 'assets/' %}";</script>
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Page Custom Javascript(used by this page)-->
		<!--end::Page Custom Javascript-->
		<!--end::Javascript-->

		<script>
			$.ajaxSetup({
				data: {
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				}
			});
		</script>
		

		{% block script %}{% endblock script %}
	</body>
	<!--end::Body-->
</html>