{% extends 'admin/layouts/apps.html' %}
{% load static %}


{% block content %}

	<!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        
    {% include 'admin/layouts/breadcrumbs.html' %}


        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Form-->
                <form id="create-or-update-resource-form" class="form d-flex flex-column flex-lg-row"  method="POST" enctype="multipart/form-data"  action="">
                    {% csrf_token %}
                    <input type="hidden" name="instance_id" value="{{instance.id}}" />
                    <!--begin::Aside column-->
                    
                    <!--end::Aside column-->
                    <!--begin::Main column-->
                    
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                        <!--begin:::Tabs-->
                        {% comment %} <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-n2">
                            <!--begin:::Tab item-->
                            <li class="nav-item">
                                <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#create-or-update-resource-general">General</a>
                            </li>
                            <!--end:::Tab item-->
                        </ul> {% endcomment %}
                        <!--end:::Tabs-->
                        <!--begin::Tab content-->
                        
                        
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                                <div class="tab-pane fade show active" id="create-or-update-resource-general" role="tab-panel">
                                    <div class="d-flex flex-column gap-7 gap-lg-10">
                                        <div class="card card-flush py-4">
                                            <div class="card-body pt-0 ">
                                                <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                    <div class="fv-row w-100 flex-md-root">
                                                        <div class="fv-row w-45 flex-md-root">
                                                            <input type="hidden" name="resource_id" value="{{resource.id}}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                    <div class="fv-row w-100 flex-md-root">
                                                        <div class="mb-5 fv-row">
                                                            <label class="required form-label">Title</label>
                                                            <input type="text" name="title"  value="{{instance.title}}"  class="form-control mb-2"  placeholder="Enter Document title" />
                                                        </div>
                                                    </div>
                                                </div>   
                                                    
                                                <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                    <div class="fv-row w-100 flex-md-root">
                                                        <div class="mb-5 fv-row">
                                                            <label class="required form-label">Files</label><br>
                                                            <span style="color: red;padding: 10px;">Set the pdf. Only *.pdf, files are accepted</span>
                                                            <input type="file" class="form-control" name="doument_pdf" id="doument_pdf" accept=".pdf"  aria-describedby="inputGroupFileAddon04" aria-label="Upload" value="{{instance.file.url}}">
                                                            <p class="lead" ><a href="{{instance.file.url}}" class="link-success" target="_blank"> 
                                                                {{instance.file}}
                                                            </a></p>
                                                        </div>
                                                    </div>
                                                    <div class="fv-row w-100 flex-md-root">
                                                    </div>
                                                </div>    
                                                
                                            </div>              
                                        </div>
                                    </div>
                                </div>
                            <!--end::Tab pane-->
                        </div>
                        <!--end::Tab content-->
                        <div class="d-flex justify-content-end">
                            <!--begin::Button-->
                            <a href="{% url 'home:factsheet.index' %}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="submit" id="create-or-update-resource-submit" class="btn btn-primary">
                                <span class="indicator-label" >Save </span>
                                
                            </button>
                            <button type="button"  id="banner-loader-text" class="indicator-progress btn btn-primary">
                                <span class="">Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>                     
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Main column-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
	
{% endblock content %}


{% block script %}
    <script src="{% static 'assets/js/custom/pages/home-page/company-profile-pdf/factsheet-save.js' %}?time={% now 'h:i:s' %}"></script>    
{% endblock script %}

