{% extends 'admin/layouts/apps.html' %}
{% load static %}


{% block content %}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
    {% include 'admin/layouts/breadcrumbs.html' %}
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-xxl">
            <!--begin::Form-->
            <form id="create-or-update-company-profile-form" class="form d-flex flex-column flex-lg-row" method="POST"
                enctype="multipart/form-data" action="{% url 'blog:blog.create' %}">
                {% csrf_token %}
                <input type="hidden" name="instance_id" value="{{instance.id}}" />
                <!--begin::Aside column-->
                <!--begin::Main column-->
                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                    <!--begin::Tab content-->
                    <div class="tab-content">
                        <!--begin::Tab pane-->
                        <div class="tab-pane fade show active" id="create-or-update-user-general" role="tab-panel">
                            <div class="d-flex flex-column gap-7 gap-lg-10">
                                <div class="card card-flush py-4">
                                    <div class="card-body pt-0 ">
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0"
                                                    style="width: 100%; border: 1px solid #ededed">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight:500; color:rgb(30 30 45)">
                                                                Possition</td>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                                {{instance.designation}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight:500; color:rgb(30 30 45)">
                                                                Name</td>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                                {{instance.name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight: 500; color: rgb(30 30 45)">
                                                              Email
                                                            </td>
                                                            <td style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                              <a href="mailto:{{ instance.email }}">{{ instance.email }}</a>
                                                            </td>
                                                          </tr>
                                                        <!-- FOR PRTFOLIO IN URL-->
                                                        {% if instance.portfolio %}
                                                        <tr>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight:500; color:rgb(30 30 45)">
                                                                Portfolio</td>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                                <a href="{{ instance.portfolio }}" target="_blank">{{ instance.portfolio }}</a></td>
                                                        </tr>
                                                        {% endif %}
                                                        <!-- FOR PRTFOLIO IN PDF-->
                                                        {% if instance.portfolio_pdf %}
                                                        <tr>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight:500; color:rgb(30 30 45)">
                                                                Portfolio</td>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                                <a style = "color:#119be3; font-family: 'Open Sans', sans-serif;" href="{{instance.portfolio_pdf.url}}" target="_blank" download>download</a></td>
                                                        </tr>
                                                        {% endif %}
                                                        <!-- FOR RESUME IN PDF-->
                                                        {% if instance.cv_pdf %}
                                                        <tr>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight:500; color:rgb(30 30 45)">
                                                                resume</td>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                                <a style = "color:#119be3; font-family: 'Open Sans', sans-serif;" href="{{instance.cv_pdf.url}}" target="_blank" download>download</a></td>
                                                        </tr>
                                                        {% endif %}
                                                        <!-- FOR PRTFOLIO IN Url-->
                                                        {% if instance.cv %}
                                                        <tr>
                                                            <td style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight: 500; color: rgb(30 30 45)">
                                                            Resume
                                                            </td>
                                                            <td style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                            <a href="{{ instance.cv }}" target="_blank">{{ instance.cv }}</a>
                                                            </td>
                                                          </tr>
                                                        {% endif %}
        
                                                        <tr>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight:500; color:rgb(30 30 45)">
                                                                Rating</td>
                                                            <td
                                                                style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                                {{instance.ratting}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 10px; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed; width: 35%; font-weight: 500; color: rgb(30 30 45)">
                                                              Phone Number
                                                            </td>
                                                            <td style="padding: 10px; border-bottom: 1px solid #ededed; color: #000000;">
                                                              {{ instance.phone_number }}
                                                            </td>
                                                          </tr>
                                                        <tr>
                                                            <td
                                                                style="padding: 10px; border-right: 1px solid #ededed; width: 35%;font-weight:500; color:rgb(30 30 45)">
                                                                Message</td>
                                                            <td style="padding: 10px; color: #000000;">{{instance.about_yourself}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        
                                    </div>

                                </div>
                            </div>
                            <!--end::Tab pane-->
                        </div>

                        
                        <!--end::Tab content-->
                        <div class="d-flex justify-content-end" style='padding-top: 20px;'>
                            <!--begin::Button-->
                            <a href="{% url 'career:job-application.view.index' %}" id="kt_ecommerce_add_product_cancel"
                                class="btn btn-light me-5" style="background-color: #27c3f185;">Back</a>
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Main column-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->
{% endblock content %}
{% block script %}

<script
    src="{% static 'assets/js/custom/pages/home-page/blog-management/create-or-update-blog.js' %}?time={% now 'h:i:s' %}"></script>


{% endblock script %}