{% extends 'admin/layouts/apps.html' %}
{% load static %}


{% block content %}

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
						Permission To Group</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">
							<a href=""
								class="text-muted text-hover-primary">Home</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">eCommerce</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">Catalog</li>
						<!--end::Item-->
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
				<!--begin::Actions-->
				<div class="d-flex align-items-center gap-2 gap-lg-3">
					<!--begin::Filter menu-->
					{% comment %}
					<div class="m-0">
						<!--begin::Menu toggle-->
						<a href="#"
							class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-color-primary fw-bold"
							data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
							<!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
							<span class="svg-icon svg-icon-6 svg-icon-muted me-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z"
										fill="currentColor"></path>
								</svg>
							</span>
							<!--end::Svg Icon-->Filter
						</a>
						<!--end::Menu toggle-->
						<!--begin::Menu 1-->
						<div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true"
							id="kt_menu_6320945a55e71">
							<!--begin::Header-->
							<div class="px-7 py-5">
								<div class="fs-5 text-dark fw-bold">Filter Options</div>
							</div>
							<!--end::Header-->
							<!--begin::Menu separator-->
							<div class="separator border-gray-200"></div>
							<!--end::Menu separator-->
							<!--begin::Form-->
							<div class="px-7 py-5">
								<!--begin::Input group-->
								<div class="mb-10">
									<!--begin::Label-->
									<label class="form-label fw-semibold">Status:</label>
									<!--end::Label-->
									<!--begin::Input-->
									<div>
										<select class="form-select form-select-solid select2-hidden-accessible"
											data-kt-select2="true" data-placeholder="Select option"
											data-dropdown-parent="#kt_menu_6320945a55e71" data-allow-clear="true"
											data-select2-id="select2-data-7-7x38" tabindex="-1" aria-hidden="true"
											data-kt-initialized="1">
											<option data-select2-id="select2-data-9-mwdv"></option>
											<option value="1">Approved</option>
											<option value="2">Pending</option>
											<option value="2">In Process</option>
											<option value="2">Rejected</option>
										</select>
										<span class="select2 select2-container select2-container--bootstrap5"
											dir="ltr" data-select2-id="select2-data-8-1s6s" style="width: 100%;"><span
												class="selection"><span
													class="select2-selection select2-selection--single form-select form-select-solid"
													role="combobox" aria-haspopup="true" aria-expanded="false"
													tabindex="0" aria-disabled="false"
													aria-labelledby="select2-rsi1-container"
													aria-controls="select2-rsi1-container"><span
														class="select2-selection__rendered" id="select2-rsi1-container"
														role="textbox" aria-readonly="true" title="Select option"><span
															class="select2-selection__placeholder">Select
															option</span></span><span class="select2-selection__arrow"
														role="presentation"><b
															role="presentation"></b></span></span></span><span
												class="dropdown-wrapper" aria-hidden="true"></span></span>
											</div>
									
									<!--end::Input-->
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="mb-10">
									<!--begin::Label-->
									<label class="form-label fw-semibold">Member Type:</label>
									<!--end::Label-->
									<!--begin::Options-->
									<div class="d-flex">
										<!--begin::Options-->
										<label class="form-check form-check-sm form-check-custom form-check-solid me-5">
											<input class="form-check-input" type="checkbox" value="1">
											<span class="form-check-label">Author</span>
										</label>
										<!--end::Options-->
										<!--begin::Options-->
										<label class="form-check form-check-sm form-check-custom form-check-solid">
											<input class="form-check-input" type="checkbox" value="2" checked="checked">
											<span class="form-check-label">Customer</span>
										</label>
										<!--end::Options-->
									</div>
									<!--end::Options-->
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="mb-10">
									<!--begin::Label-->
									<label class="form-label fw-semibold">Notifications:</label>
									<!--end::Label-->
									<!--begin::Switch-->
									<div
										class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
										<input class="form-check-input" type="checkbox" value="" name="notifications"
											checked="checked">
										<label class="form-check-label">Enabled</label>
									</div>
									<!--end::Switch-->
								</div>
								<!--end::Input group-->
								<!--begin::Actions-->
								<div class="d-flex justify-content-end">
									<button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2"
										data-kt-menu-dismiss="true">Reset</button>
									<button type="submit" class="btn btn-sm btn-primary"
										data-kt-menu-dismiss="true">Apply</button>
								</div>
								<!--end::Actions-->
							</div>
							<!--end::Form-->
						</div>
						<!--end::Menu 1-->
					</div>
					{% endcomment %}
					<!--end::Filter menu-->
					<!--begin::Secondary button-->
					<!--end::Secondary button-->
					<!--begin::Primary button-->
					{% comment %}
					<a href="#" class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal"
						data-bs-target="#kt_modal_create_app">Create</a>
						{% endcomment %}
					<!--end::Primary button-->
				</div>
				<!--end::Actions-->
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content flex-column-fluid">
			<!--begin::Content container-->
			<div id="kt_app_content_container" class="app-container container-xxl">
				<!--begin::Products-->
				<div class="card card-flush">
					<!--begin::Card header-->
					<div class="card-header align-items-center py-5 gap-2 gap-md-5">
						<!--begin::Card title-->
						<div class="card-title">
							<!--begin::Search-->
							<div class="d-flex align-items-center position-relative my-1">
								<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
								<span class="svg-icon svg-icon-1 position-absolute ms-4">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
											transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
										<path
											d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
											fill="currentColor"></path>
									</svg>
								</span>
								<!--end::Svg Icon-->
								
								<input type="text" data-permissions_to_group-table-filter="search"  class="form-control form-control-solid w-250px ps-14" placeholder="Search Group">
							</div>
							<!--end::Search-->
						</div>
						<!--end::Card title-->
						<!--begin::Card toolbar-->
						<div class="card-toolbar flex-row-fluid justify-content-end gap-5" data-table-toolbar="base">

							<div class="w-100 mw-150px">
								<!--begin::Select2-->
								<select class="form-select form-select-solid select2-hidden-accessible"
									data-control="select2" data-hide-search="true" data-placeholder="Status"
									data-supplier-table-filter="status"  data-select2-id="select2-data-10-32mq"
									tabindex="-1" aria-hidden="true" data-kt-initialized="1">
									<option data-select2-id="select2-data-12-28wv"></option>
									<option value="all">All</option>
									<option value="published">Published</option>
									<option value="scheduled">Scheduled</option>
									<option value="inactive">Inactive</option>
								</select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr"
									data-select2-id="select2-data-11-iwt9" style="width: 100%;"><span
										class="selection"><span
											class="select2-selection select2-selection--single form-select form-select-solid"
											role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
											aria-disabled="false" aria-labelledby="select2-6xyv-container"
											aria-controls="select2-6xyv-container"><span
												class="select2-selection__rendered" id="select2-6xyv-container"
												role="textbox" aria-readonly="true" title="Status"><span
													class="select2-selection__placeholder">Status</span></span><span
												class="select2-selection__arrow" role="presentation"><b
													role="presentation"></b></span></span></span><span
										class="dropdown-wrapper" aria-hidden="true"></span></span>
								<!--end::Select2-->
							</div>

							<!--begin::Add product-->
							<a href="{% url 'users:permissions_to_group.create' %}" class="btn btn-primary">Create</a>
							<!--end::Add product-->
						</div>
						<div class="d-flex justify-content-end align-items-center d-none" data-permissions_to_group-toolbar="selected">
							<div class="fw-bolder me-5">
							<span class="me-2" data-permissions_to_group-select="selected_count"></span>Selected</div>
							<button type="button" class="btn btn-danger" data-permissions_to_group-select="delete_selected">Delete Selected</button>
						</div>
						<!--end::Card toolbar-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body pt-0">
						<!--begin::Table-->
						<div id="kt_ecommerce_products_table_wrapper"
							class="dataTables_wrapper dt-bootstrap4 no-footer">
							<div class="table-responsive">
								<table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
									id="permissions-to-group-table">
									<!--begin::Table head-->
									<thead>
										<!--begin::Table row-->
										<tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
											<th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1"
												aria-label="" style="width: 29.8906px;">
												<div
													class="form-check form-check-sm form-check-custom form-check-solid me-3">
													<input class="form-check-input" type="checkbox" data-kt-check="true"
														data-kt-check-target="#permissions-to-group-table .form-check-input"
														value="1">
												</div>
											</th>
											<th class="min-w-100px ">Group Name</th>
											<th class="min-w-100px ">Permissions</th>
											<th class="text-end min-w-100px ">Action</th>
											<!--end::Table row-->
									</thead>
									<!--end::Table head-->
									<!--begin::Table body-->
									<tbody class="fw-semibold text-gray-600">

									</tbody>
									<!--end::Table body-->
								</table>
								<!--end::Table-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Products-->
					</div>
					<!--end::Content container-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Content wrapper-->
			
		</div>
	</div>
</div>

{% endblock content %}



{% block script %}
<script>
	var api_config = {
		'datatable': "{% url 'users:load.permission_to_group.datatable' %}",
		'csrfmiddlewaretoken': '{{ csrf_token }}',
		'delete_records': "{% url 'users:permission_to_group.records.destroy' %}",
		'edit_url': "{% url 'users:permissions_to_group.update' '0' %}"
	};
</script>
<script src="{% static 'assets/js/custom/pages/users/permissions-to-group/perimissions_to_group.js' %}?time={% now 'h:i:s' %}"></script>

{% endblock script %}